:root{
    --color-main: 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    /* height: 100vh; */
}  
h1{
    text-align: center;
    size: 12pt;
}
h4{
    text-align: center;
}
img{
    border-radius: 50%;
    height: 60;
    width: 60;
}
img:hover{
    transform: scale(1.1);
}
figcaption{
    margin-left: -15%;
    font-size: 10pt;
}
figcaption#nome{
    margin-left: -25%;
}
#meio{
    margin-top: 2%;
    border-right: 2%;
    border-style: dashed;
    border-color: red;
}
#computaçao{
    /* background-color: pink;  */
    margin-top: 5%;
}
#historia{
    /* background-color: blue;  */
    margin-top: 5%;
}
#cpsuperior{
    /* background-color: brown; */
    height: 15%;
    margin-bottom: 1%;
    margin-left: 7%;
    margin-top: 5%;
    position: relative;
}
#cpinferior{
    /* background-color: blueviolet; */
    height: 15%;
    margin-left: -7%;
    margin-bottom: 10%;
    position: relative;
}
#hisuperior{
    /* background-color: brown; */
    height: 15%;
    margin-bottom: 1%;
    margin-top: 5%;
    margin-left: 6%;
    position: relative;
}
#hiinferior{
    /* background-color: blueviolet; */
    height: 15%;
    margin-bottom: 1%;
    margin-left: -5%;
    position: relative;
}
.elementosupcp{
    float: left;
    padding-left: 15%;
    padding-top: 1%;
}
.elementoinfcp{
    float: left;
    padding-left: 15%;
    padding-top: 1%;
}
.elementosuphi{
    float: left;
    padding-left: 8%;
    padding-top: 1%;
}
.elementoinfhi{
    float: left;
    padding-left: 8%;
    padding-top: 1%;
}